#bodyT {
  background-color: rgb(110, 71, 71);
  display: flex;
  justify-content: center;
}

#pT {
  color: white;
  padding: 200px 200px 200px 200px;
  background-color: rgba(8, 0, 126, 0.589);
  border: 50px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin: 250px 300px 250px 300px;
  
        
}

