

h1 {
  color: rgb(32, 2, 163);
  font-size: 50px;
  font-family: Montserrat;
  text-align: center;
  margin: auto;
}

p{
  font-size: 15px;
  font-family: Montserrat;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  width: 95vw;
}

#p3 {
  color: rgb(0, 0, 0);
}

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 10px;
}

#te-houtaewa {
  color: red;
  text-align: center;
  font-family: Montserrat;
  margin: auto;
  padding-top: 5px;
}

ol {
  color: black;
  font-size: 15px;
  font-family: Montserrat;
  text-align: left;
  margin: auto;
  padding-top: 10px;
  width: 95%;
}
/*(320px), tablet (768px) and desktop (1200px+)*/

/* #1 Phone (0px-320px) */
@media (min-width: 0px) {
  p {
    color: red;
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: 95vw;
  }
}

/* #2 Tablet Takes priority based on order - anything over 320px (320px-768px)*/
@media (min-width: 320px) {
  p{
    color: rgb(255, 0, 149);
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: 95vw;
  }
}

/* #3 Desktop Takes priority based on order - anything over 768px (768px-inf)*/
@media (min-width: 768px) {
  p{
    color: rgb(10, 221, 38);
    font-size: 15px;
    font-family: Montserrat;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: 95vw;
  }

  #p3 {
    color: blueviolet;
  }
}
